$clrPrimary: #203141;
$backOne: #fcf4f4;
$backTwo: #fff;

body {
}

.backOne {
  background-color: $backOne;
}

.backTwo {
  background-color: $backTwo;
}

.btn-primary{
  background-color: #203141;
  border: 2px solid #203141;
}

.btn-primary:hover{
  background-color: #203141;
  border: 3px solid #203141;
  transition: 0.1s;
}

.sectionOne {
  height: 100vh;
  // overflow: hidden;
  top: 0;

  a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }
}

.background-col {
  height: inherit;
  width: 73%;
  background-color: $clrPrimary;
  background-image: url("../img/bg\ header.png");
  background-size: 150%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.quote-btn {
  border-radius: 25px;
  background-color: #007bff;
  color: white !important;
  padding: 5px;
}

nav {
  img {
    width: 60px;
  }
}

.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-bold {
  font-weight: bolder;
}

.my-head-one {
  line-height: 10px;
  p {
    color: red;
  }
}

.service-card {
  background-color: $backOne;
  border-radius: 20px;
  height: 400px;
}

.btn-white {
  background-color: white;
}

.service_icon {
  width: 100px;
  border-radius: 50%;
  padding: 30px;
  background-color: $backOne;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.my-service {

}

.my-service:hover {
  transition:  0.5s;
  transform: scaleY(1.3)  scaleX(1.07);
  background-color: $clrPrimary;
  color: white;
  border-radius: 20px;
  
}

.my-nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.group {
  position: relative;
  input {
    align-self: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: inline;
  }
  a {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    right: 0;
    background-color: $clrPrimary;
    color: white;
  }
}

.my-bolder{
  font-weight: bolder;
}

.h-flex{
  display: flex;
}

.f-1{ flex: 1; }
.f-5{ flex: 5; }

.section-6 {
  .my-heading {
    line-height: 5px;
  }

  .my-testo {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    // box-shadow: 2px 2px 5px ;

    i{
      font-size: 30px;
    }
    .client-info{
      position: absolute;
      bottom: 0px;
      transform: translate(0 , 40%);

      line-height: 0px;

      img{
        width: 150px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      .client-text{
        // background-color: red;
        position: absolute;
        right: 0;
        // top: 0;
        transform: translate(100% , -90px);
      }

    }

  }
}


.section-7{
  color: gray;
  font-size: 13px;

  i{
    font-size: 15px;
  }

  h5{
    color: black;
    margin-bottom: 30px;
  }

  img{
    width: 50px;
    margin-bottom: 30px;
  }

  p{
    margin-bottom: 5px;
  }

  .row{
    border-bottom: 1px solid lightgray;
  }

  .f-links h5{
    border-right: 1px solid lightgray ;
    border-width: thin;
  }

  .social-icon i{
    font-size: 15px;
    border-radius: 50%;
    font-weight: bold;
    border: 1px solid black;
    color: black;
    padding: 5px;
  }

  .last-para{font-size: 15px;}

  .footer-sec-two{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h5{
      display: inline;
      padding-left: 30px;
      padding-right: 30px;
    }

  }
}