$clrPrimary: #203141;
$backOne: #f4f5f7;
$backTwo: #fff;

@font-face {
  font-family: "circularStd";
  src: url("../fonts/Circular\ Std\ Book.ttf");
  // format('opentype');
}

body {
  font-family: circularStd;
}

p {
  font-size: 17px;
}

h3 {
  font-weight: bold;
}

h4 {
  font-size: 1.3em;
  font-weight: bold;
}

.text-md {
  font-size: 17px;
}

.text-normal {
  font-weight: normal !important;
}

.backOne {
  background-color: $backOne;
}

.backTwo {
  background-color: $backTwo;
}

.btn-primary {
  background-color: #203141;
  border: 2px solid #203141;
}

.btn-primary:hover {
  background-color: #203141;
  border: 2px solid #203141;
}

.my-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-center {
  display: flex;
  align-items: flex-start;
  height: 80vh;
}

.my-bold {
  font-weight: bolder;
}

.text-gray {
  color: gray;
}

.my-head-one {
  line-height: 3px;
  p {
    color: #f25e24 !important;
  }
}

.col-md-4, .col-md-6, .col-md-2{
  margin-bottom: 20px !important;
}

.btn-white {
  background-color: white;
}

.my-bolder {
  font-weight: bolder;
}

.h-flex {
  display: flex;
}

.f-1 {
  flex: 1;
}
.f-5 {
  flex: 5;
}

.h-100-vh {
  height: 100vh;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.sectionOne {
  height: 100vh;
  top: 0;

  a {
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
  }

  .background-col {
    height: inherit;
    width: 73%;
    background-color: $clrPrimary;
    background-image: url("../img/bg\ header.png");
    background-size: 150%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  nav {
    img {
      width: 60px;
    }
  }

  #my-nav-active {
    box-shadow: 0 -3px white !important;
  }

  .carousel-indicators li {
    display: block;
    width: 10px;
    height: 10px;
    margin-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
  }
  .carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin-bottom: 10px;
    background-color: #fff;
  }
}

.section-2 {
  .service-card {
    background-color: $backOne;
    border-radius: 20px;
    height: 400px;
    position: relative;
  }

  .service_icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $backOne;
    position: absolute;

    top: -47px;
    left: 35%;
    display: flex;
    // transform: translate(-50%, -50%);

    img {
      width: 50%;
      margin: auto;
    }
  }

  .my-service {
  }

  .my-service:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.11);
    background-color: $clrPrimary;
    color: white;
    border-radius: 20px;
  }
}

.section-3 {
}

.section-4 {
  .my-nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #myTab {
    border: none;
    .nav-tabs .nav-link {
      border: none;
    }

    .active {
      background-color: $clrPrimary;
      border-radius: 20px;
      color: white;
      padding: 7px 15px;
    }

    a {
      text-decoration: none;
      color: black;
    }
  }
}

.section-5 {
  .group {
    position: relative;
    width: 90%;
    input {
      align-self: center;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      display: inline;
    }
    a {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      position: absolute;
      right: 0;
      background-color: $clrPrimary;
      color: white;
    }
    a:hover {
      color: white;
    }
  }
}

.section-6 {
  .my-testo {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    i {
      font-size: 30px;
    }
    .client-info {
      // position: absolute;
      // bottom: 0px;
      // left: 25px;
      // transform: translate(0, 10%);
      // line-height: 0px;

      img {
        width: 150px;
        border-top-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
      .client-text {
        // position: absolute;
        // right: 0;
        // transform: translate(100%, -90px);
        line-height: 5px;
        display: flex;
        align-items: center;
      }
    }
  }
  .my-quote {
    h6 {
      font-weight: normal;
      font-size: 1.2em;
      color: gray;
    }
    padding-bottom: 0px !important;
  }
}

.section-7 {
  color: gray;

  h5 {
    color: $clrPrimary;
  }

  i {
    font-size: 15px;
  }

  img {
    width: 50px;
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
  }

  .row {
    border-bottom: 1px solid lightgray;
  }

  .f-links h6 {
    border-right: 1px solid lightgray;
    border-width: thin;
  }

  .social-icon i {
    font-size: 15px;
    border-radius: 50%;
    font-weight: bold;
    border: 0.3px solid $clrPrimary;
    color: black;
    padding: 5px;
    margin: 0px 5px;
  }

  .social-icon i:hover {
    background-color: $clrPrimary;
    color: white;
    cursor: pointer;
  }

  .last-para {
    font-size: 15px;
  }

  .footer-sec-two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h6 {
      display: inline;
      padding-left: 30px;
      padding-right: 30px;
      // margin-bottom: 30px;
      color: $clrPrimary;
    }

    h6:nth-child(1) {
      padding-left: 0px;
    }
  }
}

// Extra Extra small devices (portrait phones, less than 375px)
@media (max-width: 370px) {

  .sectionOne{


    .carousel-indicators{
      display: none;
    }

    .my-sec-1-text{
      h2, p { .carousel-indicators{
        display: none;
      }
  
        padding-bottom: 2px !important;
        margin-bottom: 2px !important;
      }
      h2{
        font-size: 15px !important;
      }
      p{
        font-size: 13px !important;
      }
      button{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
    }

  }

  p {
    font-size: 13px !important;
  }
  h2 {
    font-size: 15px !important;
  
  }
  .service_icon {
    top: -47px;
    left: 35%;
    display: flex;
    img {
      width: 50%;
      margin: auto;
    }
  }
}




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  
  p {
    font-size: 15px !important;
  }
  h2 {
    font-size: 22px !important;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .group{
    width: 95% !important;
    margin: auto;
  }

  .sectionOne {
    .background-col {
      height: inherit;
      width: 100%;
      background-color: $clrPrimary;
      background-image: url("../img/bg\ header.png");
      background-size: 150%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }

    .my-sec-1-text{
      h2{ margin-top: 25%;}
    } 

    .carousel-indicators{
      display: none;
    }


    nav {
      .navbar-toggler-icon {
        background-image: url("../img/menu-line.svg");
        color: white !important;
      }

      .ml-auto a {
        background-color: white;
        border: 2px solid white;
        color: $clrPrimary;
      }
    }

    #my-nav-active {
      box-shadow: 0 0 !important;
    }
  }

  .section-2 {

    .my-our-work{
      padding-right: 3rem !important;
      padding-left: 3rem !important;
    }

    .service-card {
      background-color: $backOne;
      border-radius: 20px;
      height: 300px;
      position: relative;
      margin-bottom: 60px;
    }

    .service_icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $backOne;
      position: absolute;

      top: -47px;
      left: 35% !important;
      display: flex;
      // transform: translate(-50%, -50%);

      img {
        width: 50%;
        margin: auto;
      }
    }

    .my-service {
    }

    .my-service:hover {
      transition: 0.5s ease-in-out;
      transform: scale(1.03) !important;
      background-color: $clrPrimary;
      color: white;
      border-radius: 15px;
      .service_icon {
        opacity: 0.3;
        z-index: -1;
        background-color: lightgray;
      }
    }
  }

  .section-4 {
    #myTab {
      margin-top: 15px;
      padding: 0 2px;
    }
  }

  .section-5 {
    .row {
      padding-top: 20px;
      h3 {
        font-size: 25px;
        font-weight: bold;
      }
    }

    .group {
      width: 100%;
      a {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        padding-right: 25px !important;
        padding-left: 25px !important;
      }
    }
  }

  .section-6 {
    .my-testo {
      border-top-left-radius: 50px;
      border-bottom-right-radius: 50px;
      position: relative;
      width: 100% !important;
      i {
        font-size: 30px;
      }
      .client-info {
        overflow: visible;
        img {
          width: 60px;
        }
      }
    }
    .my-quote {
      h6 {
        font-weight: normal;
        font-size: 1.2em;
        color: gray;
      }
      padding-bottom: 10px !important;
    }
  }

  .section-7 {
    .social-icon {
      padding-bottom: 10px;
      text-align: left !important;
    }

    .footer-sec-two {
      display: block;
      justify-content: space-between;
      align-items: center;

      h6 {
        display: inline;
        padding-left: 10px;
        padding-right: 10px;
        // margin-bottom: 30px;
        color: $clrPrimary;
      }

      h6:nth-child(1) {
        padding-left: 0px;
      }
    }
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

  
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  p {
    font-size: 17px;
  }

  h4 {
    font-size: 1.1em;
    font-weight: bold;
  }

  .section-2 {
    .service-card {
      height: inherit;
    }

    .content-service {
      padding-top: 70px !important;
      padding-bottom: 30px !important;
    }

    .service_icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: $backOne;
      position: absolute;

      top: -47px;
      left: 26%;
      display: flex;

      img {
        width: 50%;
        margin: auto;
      }
    }

    .my-service {
    }

    .my-service:hover {
      transition: 0.5s ease-in-out;
      transform: scale(1.11);
      background-color: $clrPrimary;
      color: white;
      border-radius: 20px;
    }
  }

  .section-5 {
    .my-our-work{
      padding-right: 2% !important;
      padding-left: 2% !important;
      h3{
        padding-bottom: 0 !important;
      }
      p{
        padding-bottom: 0 !important;
      }
      .my-head-one{
        padding-bottom: 0px !important;
      }

    }

    .cara-img{
      width: 80% !important;
    }

    .group {
      width: 100%;
    }
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #my-nav-active {
    box-shadow: 0 -3px white !important;
    padding-left: 5px !important;
  }
  .cara-img{
    width: 80% !important;
  }
}


@media (min-width: 1199.98px) {
  .cara-img{
    width: 80% !important;
  }
}


// contact_us page


.sectionOneContact{

  height: max-content;
  background-color: $clrPrimary;
  
  .contact-div{
    border-top-left-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    background-color: white;
  }
  
  form{
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
    
    input, textarea{
      margin-bottom: 25px;
    }
    textarea{
      border-radius: 15px !important;
    }
  }
  

}


